@model DoWellAdvanced.Models.Spreadsheet

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Weet je zeker dat je deze spreadsheet wilt verbergen?</h3>
<div>
    <h4>Spreadsheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        @* IsVisible kunnen we weglaten omdat deze spreadsheet nog zichtbaar moet zijn *@
        <dt class="col-sm-2">
            Eigenaar
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)  @* Email is informatiever dan Id *@
        </dd>
        <dt class="col-sm-2">Tags</dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.SpreadsheetTags?.Select(st => st.Tag.Name) ?? Array.Empty<string>())
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verbergen" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Terug naar lijst</a>
    </form>
</div>
